body {
    background-color: #660033;
}
#cadre {
    position: fixed;
    top: 2%;
    height:95%;
    left: 2%;
    width: 96%; 
}
/*
img {
    border: 1em solid #ffcce6;
    border-radius: 1em;
}
*/
#affiche {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
#legende {
    position:absolute;
    bottom:0;
    left:20px;
    color: #ff99aa;
    font-family: monospace;
    font-size: 0.8em;
    margin-bottom: 0.4em;
}
a.lienLegende, a.lienLegende:visited {
    color: #ff3355;
    text-decoration: none;
    font-style: italic;
}
a.lienLegende:hover {
    color:#ffe6ea;
}



    


    




