body {
    background-color: #660033;
}
#cadre {
    position: fixed;
    height: 100%;
    width: 100%;
}
#affiche {
    position:fixed;
    top: 5%;
    bottom: 5%;
    left: 0;
    right: 0;
    height: 90%;
    width: auto;
    margin:auto;
    border: 1em solid #ffcce6;
    border-radius: 1em;
}
#legende {
    position:absolute;
    bottom:0;
    left:5px;
    color: pink;
    font-family: monospace;
    font-size: 0.8em;
}
a.lienLegende, a.lienLegende:visited {
    color: grey;
    text-decoration: none;
    font-style: italic;
}
